# GENERAL
node_modules/
readmeBill*
readme_bill*
src/playground/*

# SASS
.sass-cache/
materialize/

# OLD FLASK STUFF
__pycache__
*.pyc
db.sqlite3
*.sqlite3
npm-debug.log
Procfile
main.js
requirements.js
run.py