/* Ideas from PALETTON.com */
/* very dark purple #020102 */
/* purple #5D005D */
/* dl red #7F0027 */
/* dl light red #9A3554 */
/* dl orange #8F2900 */
/* dl light orange #AC5B3B */
/* dl white #e1c7c9 */
/* light no.2 grey - #E0E9F5 e0e9f5 for #b7c9e2 grey */
/* tad darker no.3 grey – #88a2c6 */

html {
  font-size: 62.5%;
}
body {
  color: #020102;
  background-color: #b7c9e2; /*light gray*/
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  min-height: 100vh;
}
a:link, a:visited {
  color: #602d31;
}
a:hover {
  color: #9A3554;
  font-weight: bolder;
}
footer {
  background-color: #020102;
  color: #e1c7c9;
  /* max-width: 100%; */
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}
h1, h2, h3, h4 {
  color: #814E52;
  /* color: #5D005D; */
  font-family: 'Abril Fatface', cursive;
}
	h2.center-title {
		text-align: center;
	}
	h2.left-title {
		text-align: left;
	}
.divider {
  /* color: white; */
  background-color: #88a2c6;
}
.header {  
  background-color: #020102;
  color: #e1c7c9;
  border-bottom: 3px solid #020102;
  /* padding-bottom: 2rem; */
}
.merch-container {
	text-align: center;
}
.book-image-container {
	width: 100%;
}
.get-the-book {
	text-align: center;
	margin: 2rem;
}
	.get-the-book a .book-images img {
		width: 100%;
	}
	.get-the-book > a > h1:hover {
		color: orange;
		background-color: black;
	}
/*	.book-image-container img {
		width: 50%;
	}
.front-cover {
	float: left;
}
.back-cover {
	float: right;
}
*/
.logo-image {
  height: 20rem;
  margin-top: 1.5em;
}

.carousel-container {
  text-align: center;
	width: 100%;
}
#carousel-image {
	max-width: 100%;
}
/*carousel controls*/
.controls i {
  font-size: 3rem;
  color: #814E52;
  margin: 0 .8rem;
}
.controls i:hover {
  color: #9A3554;
}
.controls i:active {
  color: #dc4e2f; 
}
.kickstarter-video {
  width: 100%;
  height: 25rem;
}
.upcoming-events-video {
  width: 100%;
  height: 50rem;
}
/* id'S USED FOR ANCHORS */
#discs li {
  list-style-type: disc;
}
#site-map {
  font-weight: bold;
  text-align: center;
}
#site-map, #explanations, #contact-form {
  background-color: #e0e9f5;
  border: 2px solid #020102;
  padding: 2rem;
}

@media screen and (max-width: 30rem) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
	.merch-container {
		display: block;
		text-align: center;
	}
	.book-image-container {
		text-align: center;
	}
	.book-image-container img {
		width: 100%;	
	}
	.back-cover {
		float: none;
	}
}
@media screen and (min-width: 30rem) {
  h1 {
    font-size: 5em;
    text-align: center;
    word-wrap: break-word;
  }
}
