/* Ideas from PALETTON.com */
/* very dark purple #020102 */
/* purple #5D005D */
/* dl red #7F0027 */
/* dl light red #9A3554 */
/* dl orange #8F2900 */
/* dl light orange #AC5B3B */
/* dl white #e1c7c9 */
/* light no.2 grey - #E0E9F5 e0e9f5 for #b7c9e2 grey */
/* tad darker no.3 grey – #88a2c6 */

html {
  font-size: 62.5%;
}

body {
  color: #020102;
  background-color: #b7c9e2; /*light gray*/
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  min-height: 100vh;
}

a:link, a:visited {
  color: #602d31;
}
a:hover {
  color: #9A3554;
  font-weight: bolder;
}

.divider {
  /* color: white; */
  background-color: #88a2c6;
}

footer {
  background-color: #020102;
  color: #e1c7c9;
  /* max-width: 100%; */
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.header {  
  background-color: #020102;
  color: #e1c7c9;
  border-bottom: 3px solid #020102;
  /* padding-bottom: 2rem; */
}
@media screen and (max-width: 30rem) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 30rem) {
  h1 {
    font-size: 5em;
    text-align: center;
    word-wrap: break-word;
  }
}

h1, h2, h3 {
  color: #814E52;
  /* color: #5D005D; */
  font-family: 'Abril Fatface', cursive;
}

.container {
  /* display: flex; */
  /* margin: 0; */
  /* max-width: 100%; */
  /* width: 100%; */
}

.logo-image {
  height: 20rem;
  margin-top: 1.5em;
}

.carousel-container {
  text-align: center;
}

#carousel-image {
  width: auto;
  height: 50rem;
}

/*carousel controls*/
.controls i {
  font-size: 3rem;
  color: #814E52;
  margin: 0 .8rem;
}

.controls i:hover {
  color: #9A3554;
}

.controls i:active {
  color: #dc4e2f; 
}

.upcoming-events-video {
  width: 100%;
  height: 50rem;
}

.kickstarter-video {
  width: 100%;
  height: 25rem;
}

/* id'S USED FOR ANCHORS */
#site-map {
  font-weight: bold;
  text-align: center;
}
#site-map, #explanations, #contact-form {
  background-color: #e0e9f5;
  border: 2px solid #020102;
  padding: 2rem;
}

/* ul { */
  /* list-style-type: disc; */
/* } */
